<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/shard.min.css">
    <title>Add Customer</title>
</head>
<body>

<div class="container my-5">
    <h2 class="mb-5">Delete Customer</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/protected/customers-delete/{id}(id=${customer.id})}" th:object="${customer}" method="post">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Are you sure that you want to delete Customer&nbsp;</label><label th:text="|${customer.firstName} ${customer.lastName}?|"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <button type="submit" name="action" value="cancel" class="btn btn-primary">No</button>
                    </div>
                    <div class="col-md-6 mt-5">
                        <button type="submit" name="action" value="submit" class="btn btn-primary">Yes I'm Sure</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
